@font-face {
    font-family: "exo";
	src:url(../fonts/exo.otf) format("truetype");
}
@font-face {
    font-family: "exo2";
	src:url(../fonts/BentonSans.otf) format("truetype");
}


body{
	margin: 0px;
	font-family: "exo";
}

#activate:focus{
	outline: none;
}

#main{
    width: 100%;
    height: 648px;
    float: left;
    background-image: url(../img/background.jpg);
    background-size: cover;
}
#activate{
    width: 278px;
    height: 35px;
    font-family: monospace;
    font-size: 20px;
    transform: rotate(-90deg);
    border-top-left-radius: 20px;
    color: #fff;
    border-top-right-radius: 20px;
    margin-top: 280px;
    margin-right: -121px;
    /*background-color: #f3741e;*/
    float: right;
    border: 3px solid #fff;
    border-bottom: none;
    cursor: pointer;
    animation: color-animation 10s infinite linear alternate;
}
@keyframes color-animation{
	0%{
		background: #fff;
	}
	25%{
		background: #692f08;
	}
	50%{
		background: #3658f3;
	}
	75%{
		background: #f7e319;
	}
	100%{
		background: #de0000;
	}
}
.activate{
	margin-left: 66px;
	float: left;
	margin-top: 14px;
}
#chatbot{
	width: 500px;
	height: 500px;
	margin: 0 auto;
	margin-top: 50px;
	background-color: white;
	display: none;
}
#closebot{
	width: 100%;
	height: 30px;
	float: left;
}
#close{
    width: 40px;
    color: #fff;
    height: 30px;
    float: right;
    border: 0px;
    background-color: red;
    cursor: pointer;
    font-size: 16px;
}
#mainchat{
	width: 500px;
	height: 410px;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	overflow-y :scroll;
	background-color: rgba(0, 0, 0, 0.21);
}
#type{
	width: 100%;
	height: 45px;
	float: left;
}
#chat{
	width: 350px;
	height: 38px;
	float: right;
	padding-left: 5px;
    font-size: 15px;
}
#fon{
	width: 45px;
	height: 45px;
	float: right;
}
.edit{
	margin-left: 16px;
    margin-top: 13px;
}
#submit{
    width: 90px;
    height: 44px;
    border: 0px;
    float: right;
    font-size: 15px;
    background-color: rgba(0, 0, 255, 0.33);
    margin-left: 3px;
    margin-right: 3px;
}
.send{
	color: white;
}
.txtfield{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 50px;
	float: left;
}
.txtield{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 50px;
	float: right;
}
.atext{
	min-width: 2%;
	max-width: 60%;
	min-height: 40px;
	background-color: #ffffff;
	border-radius: 5px;
	float: left;
	margin-left: 10px;
}
.aext{
	min-width: 2%;
	max-width: 60%;
	min-height: 40px;
	background-color: rgba(0, 185, 236, 0.47);
	border-radius: 5px;
	float: right;
	margin-right: 10px;
}
.amesg{
	float: left;
	padding: 10px;

}
.aesg{
	float: left;
	padding: 10px;

}